.Rproj.user
.Rhistory
.RData
.Ruserdata
DwC_output
Policy
Refs
**.csv
**.pdf
**.doc*
**.doc
**.jpg
**.jpeg
Data/BioOracle
Data/environment
Data/brazil-coastline
Data/MPAs_magris
Data/researcher_data
Data/space_BR_MPA_APPrates
Data/trait_*
**/.pdf
**/.doc*
README - Copia.Rmd
R/figure6.R
README_files/figure-gfm/*.tiff